# Heros of Pymoli Code

In [1]:
#Import Dependencies
import pandas as pd
import csv
import numpy as np

file_to_load = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
purchase_data_df.head(6)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61

## Player Count

In [9]:
number_of_players = purchase_data_df["SN"].nunique()
number_of_players_df = pd.DataFrame({"Total Players": [number_of_players]})
number_of_players_df

   Total Players
0            576

### Purchasing Analysis (Total)

In [7]:
number_of_items = len(purchase_data_df["Item Name"].unique())


average_item_price = purchase_data_df["Price"].mean()
 

number_of_purchases = len(purchase_data_df)


total_revenue = purchase_data_df["Price"].sum()


purchase_summary_df = pd.DataFrame({"Number of Unique Items": [number_of_items],
                                   "Average Price": ["${0:,.2f}".format(average_item_price)],
                                   "Number of Purchases":[number_of_purchases],
                                   "Total Revenue": ["${0:,.2f}".format(total_revenue)]})
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [ ]:
gender_df = purchase_data_df[["SN","Gender"]]
gender_df.head()

In [ ]:
unique_gender_df = gender_df.drop_duplicates()
unique_gender_df

In [ ]:
players_gender_df = pd.DataFrame(unique_gender_df["Gender"].value_counts())
players_gender_df

In [ ]:
players_gender_df["Percentage of Players"] = (players_gender_df["Gender"]/unique_gender_df["Gender"].count()*100)
players_gender_df

In [ ]:
players_gender_df = players_gender_df.rename(columns={"Gender":"Total Count"})
players_gender_df

In [ ]:
players_gender_df["Percentage of Players"] = players_gender_df["Percentage of Players"].map("{:.2f}%".format)
players_gender_df

In [ ]:
gender_purchases_df = purchase_data_df[["SN","Gender","Price"]]
gender_purchases_df

In [ ]:
total_purchase_gender = gender_purchases_df.groupby("Gender")

In [ ]:
total_purchase_gender_df = pd.DataFrame(total_purchase_gender["Price"].sum())
total_purchase_gender_df

In [ ]:
total_purchase_count_gender_df = pd.DataFrame(total_purchase_gender["Price"].count())
total_purchase_count_gender_df

In [ ]:
average_purchase_price_gender_df = pd.DataFrame(total_purchase_gender["Price"].mean())
average_purchase_price_gender_df

In [ ]:
player_purchase = gender_purchases_df.groupby("SN")
total_purchase_per_player_df = pd.DataFrame(player_purchase["Price"].sum())
total_purchase_per_player_df

In [ ]:
total_purchase_per_player_df = pd.merge(total_purchase_per_player_df,unique_gender_df, on="SN")
total_purchase_per_player_df

In [ ]:
total_purchase_per_player_df = total_purchase_per_player_df.drop(columns="SN")
total_purchase_per_player_df

In [ ]:
total_purchase_per_player_df = total_purchase_per_player_df.reset_index(drop=False)
total_purchase_per_player_df

In [ ]:
average_total_per_gender = total_purchase_per_player_df.groupby("Gender")
average_total_per_gender

In [ ]:
average_total_per_gender_df = pd.DataFrame(average_total_per_gender["Price"].mean())
average_total_per_gender_df

In [ ]:
average_total_per_gender_df = average_total_per_gender_df.rename(columns={"Price":"Avg Total Purchase per Person"})
average_total_per_gender_df

In [ ]:
average_total_per_gender_df = average_total_per_gender_df.reset_index(drop=False)

In [ ]:
total_purchase_count_gender_df = total_purchase_count_gender_df.reset_index(drop=False)

In [ ]:
average_purchase_price_gender_df = average_purchase_price_gender_df.reset_index(drop=False)

In [ ]:
purchasing_analysis_df1 = pd.merge(total_purchase_count_gender_df, average_purchase_price_gender_df, on="Gender")
purchasing_analysis_df1

In [ ]:
purchasing_analysis_df2 = pd.merge(total_purchase_gender_df, average_total_per_gender_df, on="Gender" )
purchasing_analysis_df2

In [ ]:
purchasing_analysis_3 = pd.merge(purchasing_analysis_df1, purchasing_analysis_df2, on="Gender" )
purchasing_analysis_3

In [ ]:
purchasing_analysis_3 = purchasing_analysis_3.rename(columns={"Price_x":"Purchase Count", 
                                                             "Price_y": "Average Purchase Price",
                                                             "Price": "Total Purchase Value"})

In [ ]:
purchasing_analysis_3

In [ ]:
purchasing_analysis_3["Average Purchase Price"] = purchasing_analysis_3["Average Purchase Price"].map("${0:,.2f}".format)

In [ ]:
purchasing_analysis_3["Total Purchase Value"] = purchasing_analysis_3["Total Purchase Value"].map("${0:,.2f}".format)

In [ ]:
purchasing_analysis_3["Avg Total Purchase per Person"] = purchasing_analysis_3["Avg Total Purchase per Person"].map("${0:,.2f}".format)

In [ ]:
purchasing_analysis_3

Second Session

In [ ]:
age_demo_df = purchase_data_df[["Age", "SN"]].drop_duplicates(keep='last')
age_demo_df

In [ ]:
player_age_df = pd.DataFrame(age_demo_df["Age"].value_counts())
player_age_df

In [ ]:
player_age_df = player_age_df.reset_index(drop=False)
player_age_df = player_age_df.rename(columns={"index": "Age", "Age" : "Total Count"})
player_age_df

In [ ]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_groups = [" <10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_age_df["Age Category"] = pd.DataFrame(pd.cut(player_age_df["Age"], bins, labels= age_groups, include_lowest=True))
player_age_df

In [ ]:
player_age_group = player_age_df.groupby(["Age Category"])
player_age_group

In [ ]:
player_age_group_df = pd.DataFrame(player_age_group["Total Count"].sum())
player_age_group_df

In [ ]:
number_of_players = len(purchase_data_df["SN"].unique())
number_of_players

In [ ]:
player_age_group_df["Percentage of Players"] = ((player_age_group_df["Total Count"] / number_of_players) * 100).map("{:.2f}%".format)
player_age_group_df

Purchasing Analysis (Age)

In [ ]:
purchasing_analysis_age_df = purchase_data_df[["Age", "SN", "Price"]]
purchasing_analysis_age_df

In [ ]:
purchase_count_df = pd.DataFrame(purchasing_analysis_age_df["Age"].value_counts())
purchase_count_df

In [ ]:
purchase_count_df = purchase_count_df.reset_index(drop=False)
purchase_count_df

In [ ]:
purchase_count_df = purchase_count_df.rename(columns={"Age":"Purchase Count", "index":"Age"})
purchase_count_df

In [ ]:
purchase_count_df["Age Category"] = pd.DataFrame(pd.cut(purchase_count_df["Age"], bins, labels= age_groups, include_lowest=True))
purchase_count_df

In [ ]:
purchase_count_group = purchase_count_df.groupby(["Age Category"])
purchase_count_group_df = pd.DataFrame(purchase_count_group["Purchase Count"].sum())
purchase_count_group_df

In [ ]:
average_purchase_price_df = purchasing_analysis_age_df[["Age", "Price"]]
average_purchase_price_df

In [ ]:
average_purchase_price_df["Age Category"] = pd.DataFrame(pd.cut(average_purchase_price_df["Age"], bins, labels= age_groups, include_lowest=True))
average_purchase_price_df

In [ ]:
average_purchase_price_group = average_purchase_price_df.groupby(["Age Category"])
average_purchase_price_group_df = pd.DataFrame(average_purchase_price_group["Price"].mean())
average_purchase_price_group_df

In [ ]:
purchasing_analysis_age_df

In [ ]:
total_purhcase_value_group = purchasing_analysis_age_df.groupby(["Age"])
total_purchase_value_group_df = pd.DataFrame(total_purhcase_value_group["Price"].sum())
total_purchase_value_group_df

In [ ]:
total_purchase_value_group_df = total_purchase_value_group_df.reset_index(drop=False)
total_purchase_value_group_df

In [ ]:
total_purchase_value_group_df["Age Category"] = pd.DataFrame(pd.cut(total_purchase_value_group_df["Age"], bins, labels= age_groups, include_lowest=True))
total_purchase_value_group_df

In [ ]:
total_purchase_value_group2 = total_purchase_value_group_df.groupby(["Age Category"])
total_purchase_value_group2_df = pd.DataFrame(total_purchase_value_group2["Price"].sum())
total_purchase_value_group2_df

In [ ]:
average_purchase_total_per_person_group = purchasing_analysis_age_df.groupby(["SN"])
average_purchase_total_per_person_group_df = pd.DataFrame(average_purchase_total_per_person_group["Price"].sum())
average_purchase_total_per_person_group_df

In [ ]:
average_purchase_total_per_person_group_df = average_purchase_total_per_person_group_df.reset_index(drop=False)
average_purchase_total_per_person_group_df

In [ ]:
player_age_df = purchase_data_df[["SN", "Age"]]
player_age_df

In [ ]:
player_age_df = player_age_df.drop_duplicates(keep='last')
player_age_df

In [ ]:
merged_df = pd.merge(average_purchase_total_per_person_group_df, player_age_df, on = "SN")
merged_df

In [ ]:
merged_df["Age Category"] = pd.DataFrame(pd.cut(merged_df["Age"], bins, labels= age_groups, include_lowest=True))
merged_df

In [ ]:
merged_group = merged_df.groupby(["Age Category"])
merged_group_df = pd.DataFrame(merged_group["Price"].mean())
merged_group_df

In [ ]:
purchase_analysis_merge1 = pd.merge(purchase_count_group_df, average_purchase_price_group_df, on = "Age Category")
purchase_analysis_merge1

In [ ]:
purchase_analysis_merge2 = pd.merge(total_purchase_value_group2_df, merged_group_df, on = "Age Category")
purchase_analysis_merge2

In [ ]:
final_merge = pd.merge(purchase_analysis_merge1, purchase_analysis_merge2, on = "Age Category" )  
final_merge

In [ ]:
final_merge = final_merge.rename(columns = {"Price_x" : "Total Purchase Value", "Price_y": "Average Total Purchase per Person", "Price": "Average Purchase Price"})
final_merge

In [ ]:
final_merge["Average Purchase Price"] = final_merge["Average Purchase Price"].map("${:,.2f}".format)
final_merge["Total Purchase Value"] = final_merge["Total Purchase Value"].map("${:,.2f}".format)
final_merge["Average Total Purchase per Person"] = final_merge["Average Total Purchase per Person"].map("${:,.2f}".format)
final_merge

Top Spenders

In [ ]:
top_spenders_df = purchase_data_df[["SN", "Price"]]
top_spenders_df

In [ ]:
top_spender_players_group = top_spenders_df.groupby(["SN"])
top_spender_players_group_total_df = pd.DataFrame(top_spender_players_group["Price"].sum() )
top_spender_players_group_total_df

In [ ]:
top_spender_players_group_avg_df = pd.DataFrame(top_spender_players_group["Price"].mean() )
top_spender_players_group_avg_df

In [ ]:
top_spender_players_group_count_df = pd.DataFrame(top_spender_players_group["Price"].count())
top_spender_players_group_count_df

In [ ]:
spender_merge1 = pd.merge(top_spender_players_group_count_df, top_spender_players_group_avg_df, on = "SN")
spender_merge1

In [ ]:
spender_merge2 = pd.merge(spender_merge1, top_spender_players_group_total_df, on = "SN" )
spender_merge2

In [ ]:
spender_merge2 = spender_merge2.sort_values("Price" ,ascending=False)
spender_merge2

In [ ]:
spenders_summary_df = spender_merge2.head()
spenders_summary_df

In [ ]:
spenders_summary_df = spenders_summary_df.rename(columns ={"Price_x" : "Purchase Count", "Price_y": "Average Purchase Price", "Price": "Total Purchase Value"})
spenders_summary_df

In [ ]:
spenders_summary_df["Average Purchase Price"] = spenders_summary_df["Average Purchase Price"].map("${:,.2f}".format)
spenders_summary_df["Total Purchase Value"] = spenders_summary_df["Total Purchase Value"].map("${:,.2f}".format)
spenders_summary_df

Most Popular Items

In [ ]:
purchase_data_df.dtypes

In [ ]:
most_popular_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
most_popular_df

In [ ]:
most_popular_group = most_popular_df.groupby(["Item Name"])
most_popular_group_df = pd.DataFrame(most_popular_group["Item Name"].count())
most_popular_group_df

In [ ]:
most_popular_group_df = most_popular_group_df.rename(columns= {"Item Name": "Purchase Count"})
most_popular_group_df

In [ ]:
most_popular_price_df = most_popular_df[["Item ID","Price"]]
most_popular_price_df

In [ ]:
most_popular_price_df = most_popular_price_df.drop_duplicates(keep='last')
most_popular_price_df

In [ ]:
most_popular_total_value = most_popular_df[["Item ID","Price"]]
most_popular_total_value

In [ ]:
most_popular_total_value_group = most_popular_total_value.groupby("Item ID")
most_popular_total_value_group_df = pd.DataFrame(most_popular_total_value_group["Price"].sum())
most_popular_total_value_group_df

In [ ]:
item_names_df = most_popular_df[["Item ID", "Item Name"]].drop_duplicates(keep='last')
item_names_df

In [ ]:
 most_popular_price_df.loc[most_popular_price_df["Item ID"]==92]

In [ ]:
average_duplicate_items_group = most_popular_price_df.groupby(["Item ID"])
average_duplicate_items_group_df = pd.DataFrame(average_duplicate_items_group["Price"].mean())
average_duplicate_items_group_df

In [ ]:
most_popular_summary_merge1 = pd.merge(most_popular_group_df, item_names_df, on = "Item Name")
most_popular_summary_merge1

In [ ]:
most_popular_summary_merge2 = pd.merge(average_duplicate_items_group_df, most_popular_total_value_group_df, on = "Item ID")
most_popular_summary_merge2

In [ ]:
most_popular_summary_merge3 = pd.merge(most_popular_summary_merge1, most_popular_summary_merge2, on = "Item ID")
most_popular_summary_merge3

In [ ]:
most_popular_summary_merge3 = most_popular_summary_merge3.set_index("Item ID","Item Name")
most_popular_summary_merge3

In [ ]:
most_popular_summary_merge3 = most_popular_summary_merge3.rename(columns= {"Price_x": "Item Price", "Price_y":"Total Purchase Value"})
most_popular_summary_merge3

In [ ]:
most_popular_summary_merge3 = most_popular_summary_merge3.sort_values("Purchase Count" ,ascending=False)
most_popular_summary_merge3

In [ ]:
most_popular_summary_head = most_popular_summary_merge3.head()
most_popular_summary_head

In [ ]:
most_popular_summary_head["Item Price"] = most_popular_summary_head["Item Price"].map("${:,.2f}".format)
most_popular_summary_head

In [ ]:
most_popular_summary_head["Total Purchase Value"] = most_popular_summary_head["Total Purchase Value"].map("${:,.2f}".format)
most_popular_summary_head

Most Profitabl Items

In [ ]:
most_popular_summary_most_profitable = most_popular_summary_merge3.sort_values("Total Purchase Value" ,ascending=False)
most_popular_summary_most_profitable

In [ ]:
most_popular_summary_most_profitable_head = most_popular_summary_most_profitable.head()
most_popular_summary_most_profitable_head

In [ ]:
most_popular_summary_most_profitable_head["Item Price"] = most_popular_summary_most_profitable_head["Item Price"].map("${:,.2f}".format)
most_popular_summary_most_profitable_head

In [ ]:
most_popular_summary_most_profitable_head["Total Purchase Value"] = most_popular_summary_most_profitable_head["Total Purchase Value"].map("${:,.2f}".format)

In [ ]:
most_popular_summary_most_profitable_head